<ul class="menu px-4 py-0">
  <% collections.each do |collection| %>
    <li id="<%= dom_id(collection) %>">
      <details id="disclosure-components">
        <summary class="group">
          <span>
            <%= icon(:folder, css: "size-6 stroke-accent") %>
          </span>
          <%= collection.name %>
        </summary>
        <ul>
          <!-- Inner loop
            <li>
            <a class="group" href="/components/button/">
            <span>Button</span>
            </a>
            </li>
          -->
        </ul>
    </li>
  <% end %>
</ul>
