<%# locals: (frames: []) -%>
<%= turbo_frame_tag :result do %>
  <div
    class="stats stats-vertical shadow"
    data-controller="calculator"
    data-action="calculator:selection@document->calculator#onSelection"
  >
    <% frames.each do |frame| %>
      <%= render "index_stat",
      frame_id: frame.to_s,
      title: t("calculator.label.#{frame}.title") %>
    <% end %>

    <%= render "result_stat" %>
  </div>
<% end %>
