<% if calculator_data.nil? %>
  <div class="flex items-center justify-center">
    <div class="card bg-base-100 w-auto lg:w-96 shadow-xl">
      <div class="card-body">
        <%= I18n.t("calculator.label.no_data") %>
      </div>
    </div>
  </div>
<% else %>
  <% calculator_data.each do |key, values| %>
    <% target = key.to_s.camelcase(:lower) %>
    <div class="flex items-center justify-center">
      <div class="card bg-base-100 w-auto lg:w-96 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">
            <%= I18n.t("calculator.label.#{key}.description") %>
          </h2>
          <%= select_year(
            99,
            {
              prompt: I18n.t("calculator.label.select.year"),
              field_name: key,
              prefix: :year,
              start_year: values[:from],
              end_year: values[:to],
            },
            {
              class: "select select-bordered w-full max-w-xs",
              data: {
                next: true,
                action: "calculator#select",
                calculator_target: target,
              },
            },
          ) %>
          <% month_selector =
            (1..values[:months]).map do |month|
              [I18n.t("date.month_names")[month], month]
            end %>
          <%= select_tag(
            "month[#{key}]",
            options_for_select(month_selector),
            class: "select select-bordered w-full max-w-xs",
            disabled: true,
            prompt: I18n.t("calculator.label.select.month"),
            id: "month_#{key}",
            data: {
              action: "calculator#select",
              calculator_target: target,
            },
          ) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
