<%= main_turbo_frame_tag :calculator do %>
  <div class="flex flex-col lg:flex-row gap-2">
    <div class="flex flex-col space-y-2">
      <% @frames.each do |frame| %>
        <%= render "form",
        turbo_frame: frame.to_s,
        incomplete_years: @incomplete_years,
        start_year: @start_year,
        end_year: @end_year %>
      <% end %>
    </div>
    <div class="">
      <%= render "result", frames: @frames %>
    </div>
  </div>
<% end %>
