@import "tailwindcss" source(none);
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";

@source not "./daisyui{,*}.mjs";

@plugin "./daisyui.mjs" {
  themes: all;
}

@source inline("fieldset text-error my-2 input-error");
