<div class="drawer-side z-40">
  <div class="bg-base-200 min-h-full w-64">
    <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>

    <div class="p-4">
      <%= render "navigations/static_links" %>

      <hr class="my-4 border-base-content/20">

      <div class="wrapper_quick_menu">
        <%= render "navigations/quick_menu" %>
      </div>

      <hr class="my-4 border-base-content/20">

      <div class="wrapper_sidebar">
        <%= render "navigations/sidebar" %>
      </div>
    </div>
  </div>
</div>
