<div class="card-body">
  <%= simple_form_for :session, url: session_url do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <div class="form-control mt-6">
      <%= f.button :submit, t("button.session.new"), class: "mt-4 btn btn-primary" %>
    </div>
  <% end %>
</div>
