<div class="grid grid-rows-3 grid-cols-2 gap-1">
  <div class="col-span-full">
    <div class="standard-box">
      <%= turbo_frame_tag :consumer_index_chart, src: consumer_index_chart_path, loading: :lazy do %>
        Loading...
      <% end %>
    </div>
  </div>
  <div class="row-span-2">
    <div class="standard-box">
        Blahh
    </div>
  </div>
  <div class="row-span-2">

    <div class="standard-box">
      #calculator :D
    </div>
  </div>
</div>

