<div id="static_links">
  <ul class="menu text-base-content">
    <li class="mb-2">
      <%= link_to_active(t(:"navigation.link.consumer_index"), consumer_indicies_path) %>
    </li>
    <li>
      <%= link_to_active(t(:"navigation.link.calculator"), calculator_path) %>
    </li>
  </ul>
</div>
