<%# locals: (label: "missing", checked: false, name: "tab", disabled: false) -%>
<input
  type="radio"
  name="<%= name %>"
  role="tab"
  class="tab [--tab-bg:var(--fallback-b2,oklch(var(--b2)))]"
  aria-label="<%= label %>"
  <% if disabled %>
  disabled="disabled"
  <% end %>
  <% if checked %>
  checked="cheked"
  <% end %>
/>
<div
  role="tabpanel"
  class="tab-content bg-base-200 border-base-300 rounded-box p-6"
>
  <%= yield %>
</div>
