<%# locals: (url: root_path, label: "missing", active: false, disabled: false) -%>

<%= tab_link label, url:, disabled:, active: %>
<% if block_given? %>
  <div
    role="tabpanel"
    class="tab-content bg-base-200 border-base-300 rounded-box p-6"
  >
    <%= yield %>
  </div>
<% end %>
