<%# locals: (living_unit: nil, hide_action_bar: true) -%>
<div class="flex">
  <div class="basis-1/2">
  </div>
  <div class="basis-1/2 flex justify-end min-h-12">
    <%= link_to t("rental.button.new"),
    new_living_unit_rental_path(living_unit),
    class: "btn btn-primary mt-2 #{class_names(hidden: hide_action_bar)}" %>
  </div>
  </div
