<%# locals: (real_estate: nil, living_unit: nil, disabled: false, hide_action_bar: true) -%>
<div class="flex flex-col gap-2">
  <div class="flex">
    <div role="tablist" class="basis-full tabs tabs-lifted tabs-lg">
      <%= tab_link t("rental.tab.tab_1"),
      url: real_estate_living_unit_path(real_estate, living_unit),
      disabled: %>

      <%= render "shared/tab", url: living_unit_rentals_path(living_unit), active: true, label: t("rental.tab.tab_2") do %>
        <div class="flex flex-col gap-2">
          <div class="flex">
            <div class="basis-full">
              <%= render "rentals/action_bar", living_unit:, hide_action_bar: %>
            </div>
          </div>
          <%= yield if block_given? %>
        </div>
      <% end %>
    </div>
  </div>
</div>
