<%= main_turbo_frame_tag dom_id(@living_unit, :rentals) do %>
  <%= render "tablist",
  real_estate: @real_estate,
  living_unit: @living_unit,
  disabled: false,
  hide_action_bar: false do %>
    <div class="flex flex-col gap-2" id="<%= dom_id(@living_unit, :rentals) %>">
      <%= render @rentals, living_unit: @living_unit %>
    </div>
  <% end %>
<% end %>
