<%= turbo_stream.replace "calculator_result" do %>
  <span class="flex justify-center items-center min-w-20 after:ml-3 after:content-['%'] after:text-blue-400 after:text-2xl">
    <%= @result %>
  </span>
<% end %>
