<div class="flex flex-col h-auto">
  <div class="flex-grow p-4 bg-gray-100">
    <%= link_to :create, new_spread_sheet_path, class: "btn-default", data: { turbo_frame: dom_id(SpreadSheet.new) } %>
  </div>
  <div class="flex-grow p-4 bg-gray-100">
    <%= turbo_frame_tag SpreadSheet.new %>
  </div>

  <div class="flex-grow p4 bg-gray-100">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="table-w-full">
        <caption>
          Spreadsheets:
        </caption>
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Description
            </th>
            <th>
              Updated At
            </th>
            <th>
              ...
            </th>
          </tr>
        </thead>
        <tbody id="spread_sheets">
          <%= render partial: "spread_sheets/spread_sheet", collection: @spread_sheets, as: :spread_sheet %>
        </tbody>
      </table>
    </div>
  </div>
</div>
