<div class="flex flex-col h-auto">
  <div class="flex-grow p-4 bg-gray-100">
    <%= link_to :create, new_spreadsheet_path, class: "default-btn", data: { turbo_frame: dom_id(Spreadsheet.new) } %>
  </div>
  <div class="flex-grow p-4 bg-gray-100">
    <%= turbo_frame_tag Spreadsheet.new %>
  </div>

  <div class="flex-grow p4 bg-gray-100">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="table-w-full">
        <caption>
          Spreadsheets:
        </caption>
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Description
            </th>
            <th>
              Updated At
            </th>
            <th>
              ...
            </th>
          </tr>
        </thead>
        <tbody id="spreadsheets">
          <%= render partial: "spreadsheets/spreadsheet", collection: @spreadsheets, as: :spreadsheet %>
        </tbody>
      </table>
    </div>
  </div>
</div>
