<div class="drawer-content">
  <!-- Page content here -->
  <%= render "layouts/header" %>

  <div class="max-w-[100vw] px-6 pb-16 xl:pr-2">
    <div class="flex flex-col-reverse justify-between gap-6 xl:flex-row">
      <div class="max-w-4xl min-w-fit flex-grow p-4 bg-base-200 shadow-xl rounded-lg">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
