<div class="drawer-side z-40 h-full">
  <label for="main-drawer" class="drawer-overlay" aria-label="Close menu"></label>
  <div class="bg-base-200 min-h-screen w-64">
    <div class="p-4 space-y-4 flex flex-col h-screen">
      <div id="wrapper_static_links">
        <%= render "layouts/drawer/static_links" %>
      </div>
      <div id="wrapper_quick_menu">
        <%= render "layouts/drawer/quick_menu" %>
      </div>
      <div
        class="flex-1 overflow-x-auto bg-base-300 rounded-lg p-2"
        id="wrapper_sidebar"
      >
        <%= render "layouts/drawer/sidebar" %>
      </div>
      <div class="flex items-center justify-center" id="app_info">
        <p class="text-sm">&copy; 2024</p>
      </div>
    </div>
  </div>
</div>
