<div class="bg-base-200 min-h-full w-64">
  <label for="main-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
  
  <div class="p-4">
    <ul class="menu text-base-content">
      <li>
        <%= link_to_active(t(:'navigation.link.consumer_index'), consumer_indicies_path) %>
      </li>
      <li>
        <%= link_to_active(t(:'navigation.link.calculator'), calculator_path) %>
      </li>
    </ul>

    <hr class="my-4 border-base-content/20">

    <%= turbo_frame_tag "new_button_frame" do %>
      <div class="mb-4">
        <%= link_to t(:'buttons.new'), "", class: "btn btn-primary btn-sm w-full", data: { turbo_frame: "_top" } %>
      </div>
    <% end %>

    <hr class="my-4 border-base-content/20">

    <ul class="menu px-4 py-0">
      <li>
      <details id="disclosure-components" open="">
        <summary class="group">
          <span>
          <svg class="w-5 h-5 text-green-600" width="18" height="18" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 29H6V43H20V29Z" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="butt" stroke-linejoin="bevel"></path>
            <path d="M24 4L34 21H14L24 4Z" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="butt" stroke-linejoin="bevel"></path>
            <path d="M36 44C40.4183 44 44 40.4183 44 36C44 31.5817 40.4183 28 36 28C31.5817 28 28 31.5817 28 36C28 40.4183 31.5817 44 36 44Z" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="butt" stroke-linejoin="bevel"></path>
          </svg>
        </span>
        Components
        </summary> 
        <ul>
          <li>
            <a class="group" href="/components/button/">
              <span>Button</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
