<div class="fixed top-0 left-0 z-20 flex flex-col flex-shrink-0 hidden w-64 h-full pt-16 font-normal lg:flex">
  <div class="relative flex flex-col flex-1 min-h-0 pt-0 border-r border-color-primary">
    <div class="flex flex-col flex-1 pt-5 pb-4 overflow-y-auto">
      navbar
    </div>
  </div>
</div>
